// accessibility & skip-navigation
.a11y {
	@extend %a11y;
}
#skip-nav {
	width: 100%;
	.skip {
		@extend %skip-nav;
		position:absolute;
		top: 0;
		display: block;
		padding: 10px 5px;
		background: #eaeaea;
		color: #333;
		font: {
			weight: bold;
		}
		text: {
			align: center;
			decoration: none;
		}
	}
}

/**
 * ---------------------
 * @layout Structure
 * ---------------------
 */
#wrap {
	width: 100%;
	@at-root {
		#header-wrap {
			width: 100%;
			.header {
				width: 1120px;
				margin: 0 auto;
			}
		}
		#m-container {
			width: 100%;
			#key-visual {
				width: 100%;
			}
			.content {
				position: relative;
				width: 1120px;
				margin: 0 auto;
				&:after {
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					content: "";
					width: 1px;
					height: 100%;
					background: $bc_type1;
				}
			}
		}
		#footer-wrap {
			width: 100%;
			.footer {
				width: 1120px;
				margin: 0 auto;
			}
		}
	}
}
