#m-container {
	width: 100%;
	border-top:1px solid $bc_type1;
}
#key-visual {
	position: relative;
	.visual-box {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 500px;
		@extend %clear-fix;
		li {
			position: absolute;
			left: 0;
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
	.controller {
		position: absolute;
		bottom: 80px;
		width: 100%;
		text-align: center;
		z-index: 20;
		.indicator {
			display: inline-block;
			margin-bottom: 15px;
			width: 10px;
			height: 10px;
			margin-left: 9px;
			border-radius: 100%;
			background-color: #fff;
			text-indent: -999em;
			font-size: 0;
			&.active {
				background-color: #ed5565;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.ctrl {
		position: absolute;
		left: 50%;
		bottom: 35px;
		margin-left: -16px;
		z-index: 20;
		[class*="ctrl-"] {
			display: none;
			width: 32px;
			height: 32px;
			border: none;
			background: url("#{$path-common}key_ctrl.png") no-repeat;
			text-indent: -999em;
			font-size: 0;
			&.active {
				display: inline-block;
			}
		}
		.ctrl-play {
			background-position-y: -35px;
		}
	}
}

.m-section {
	@extend %clear-fix;
	& {
		border-bottom: 1px solid $bc_type1;
	}
	[class*="m-box"] {
		position: relative;
		float: left;
		width: 360px;
		padding-top: 30px;
		&:after {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
			height: 100%;
			content: "";
			background: $bc_type1;
		}
	}
	.m-box02 {
		width: 380px;
		.m-subtitle {
			padding-left: 20px;
		}
	}
	.m-box03 {
		width: 740px;
		& + .m-box02 {
			padding-top: 0;
		}
	}
	.m-subtitle {
		padding-bottom: 16px;
		font: {
			size: 16px;
		}
		.title-point {
			color: #004a8e;
		}
	}
}

.activity {
	.map {
		position: relative;
		height: 210px;
		background: url("#{$path-main}map.jpg") no-repeat;
		z-index: 10;
		li {
			position: absolute;
			width: 185px;
			top: 120px;
			text-align: right;
			color: #fff;
			padding-right: 15px;
			& + li {
				right: 0;
				width: 175px;
				border-left: 1px solid #d3d9c2;
				text-align: left;
				padding-left: 15px;
			}
			.map-total {
				display: block;
				margin-bottom: 5px;
				font-size: 18px;
			}
			.map-data {
				display: block;
				line-height: 1.4;
				em {
					font-weight: bold;
				}
			}
		}
	}
}
.member-box {
	padding: 15px 20px;
	.member-blog {
		li {
			margin-bottom: 11px;
			.flag {
				display: inline-block;
				width: 130px;
				margin-right: 5px;
				font-size: 13px;
				@include ellipsis;
				img {
				}
			}
			a {
				@include ellipsis;
				display: inline-block;
				width: 200px;
				font-size: 13px;
				vertical-align: 2px;
			}
		}
	}
}
.volunteer {
	&.m-box02 {
		padding-top: 0;
	}
	.volunteer-box {
		position: relative;
		width: 100%;
		height: 240px;
		background: url("#{$path-main}volunteer_test.gif") no-repeat;
		.btn-goToTest {
			display: block;
			position: absolute;
			right: 32px;
			bottom: 9px;
			width: 82px;
			height: 82px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.friends-center {
	&.m-box02 {
		padding-top: 0;
	}
	li:first-child {
		padding:30px 0 30px 120px;
		border-bottom: 1px solid $bc_type1;
		background: url("#{$path-main}center_bg01.png") 50px 30px no-repeat;
		strong		{
			display: block;
			font-size: 16px;
			margin-bottom: 12px;
		}
		em {
			display: block;
			margin: {
				left: -5px;
				bottom: 15px;
			}
			font : {
				size: 42px;
			}
			color: #f16784;
			letter-spacing:-1px;
		}
		.ct-time {
			margin-left: -70px;
			font-size: 13px;
		}
	}
	.career {
		background: url("#{$path-main}center_bg02.png") 80px 20px no-repeat;
		a {
			display: block;
			padding: 33px 0 31px;
			font-size: 16px;
			text : {
				align: center;
				decoration: none;
				indent: 60px;
			}
		}
	}
}

.instagram {
	padding-bottom: 10px;
	border-bottom: 1px solid $bc_type1;
	ul {
		@extend %clear-fix;
		margin-left: -12px;
		li {
			float: left;
			a {
				display: block;
				margin: {
					left: 12px;
					bottom: 12px;
				}
				border: 1px solid $bc_type1;
			}
		}
	}
}
.u-tube {
	#video {
		overflow: hidden;
		width: 360px;
		height: 172px;
		border: solid $bc_type1;
		border-width: 1px 0 0 1px;
	}
}
.blog {
	.blog-title {
		display: block;
		font: {
			size: 21px;
		}
		color: #0daed3;
	}
	.blog-data {
		padding:0 35px 15px 20px;
		ul {
			padding:15px 0;
			li {
				font: {
					size: 13px;
				}
				line-height: 20px;
			}
		}
		.date {
			font-size: 11px;
		}
	}
}
.kakao {
	position: relative;
	padding-right: 96px;
	border-top: 1px solid $bc_type1;
	.kakao-box {
		padding: 21px;
		border-right: 1px solid $bc_type1;
		.kakao-title {
			padding: 10px 0 28px 80px;
			font-size: 16px;
			background: url("#{$path-common}kakao.gif") no-repeat;
			em {
				display: block;
				color: #0daed3;
				margin-top: 8px;
				font : {
					size: 14px;
					weight: normal;
				}
			}
		}
		p{
			letter-spacing: -.3px;
			strong {
				display: block;
				margin-top: 8px;
				font-size: 16px;
			}
		}
		
	}
	.qr-code {
		position: absolute;
		right: 20px;
		top: 40px;
	}
}

/* tab-style */
[class*="tabList"] {
	@extend %clear-fix;
	.tabItem {
		float: left;
		width: 50%;
		a {
			display: block;
			position: relative;
			overflow: hidden;
			margin-left: -1px;
			text : {
				align: center;
				decoration: none;
			}
			font: {
				size: 13px;
				weight: bold;
			}
			background: #f6f6f6;
			padding: 13px 0;
			border: 1px solid $bc_type1;
			color: #8d8d8d;
			&:after {
				content: "";
				left: -65%;
				opacity: 1;
				position: absolute;
				top: 0;
				background: red;
				width: 50%;
				height: 100%;
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
				-webkit-transform: skewX(-25deg);
				transform: skewX(-25deg);
				transition: all .55s cubic-bezier(0.19, 1, 0.22, 1);
			}
			&:hover:after {
				animation: shine .75s;
			}
		}
		&.is-selected a {
			background: #fff;
			color: #568113;
			&:hover:after {
				animation: -1s;
			}
		}
	}
	
}
.tabList-v1 {
	.tabItem {
		width: auto;
		a {
			padding: {
				left: 18px;
				right: 18px;
			}
		}
	}
}
.tabList-v2 {
	.tabItem {
		width: auto;
		a {
			padding: {
				left: 18px;
				right: 19px;
			}
		}
		&:first-child a {
			padding-left: 20px;
		}
	}
}
.tabPanel {
	padding: 20px 5px 14px 0;
	.panel {
		display: none;
		&.is-selected {
			display: block;
		}
		li {
			margin-bottom: 14px;
			a {
				@include ellipsis;
				display: inherit;
				font-size: 13px;
				&:hover {
					color: #3bafda;
				}
			}
		}
		.major {
			margin-bottom: 5px;
			.news {
				display: inline-block;
				width: 80px;
				margin-right: 12px;
				padding: 7px 0;
				background-color: #656d78;
				text-align: center;
				color: #fffefe;
				vertical-align: middle;
			}
			a {
				display: inline-block;
				width: 240px;
				vertical-align: middle;
			}
		}
		.panel-item {
			text-align: right;
			padding-right: 10px;
			a {
				float: left;
				width: 240px;
				text-align: left;
			}
			.date {
				display: inline-block;
			}
		}
	}
}
.main-tab {
	padding: 0 20px;
	
	&.v1 {
		padding-left: 0;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.mini-visual {
	position: relative;
	border-top: 1px solid $bc_type1;
	.visualList-box {
		overflow: hidden;
		position: relative;
		width: 326px;
		height: 209px;
		border-right: 1px solid $bc_type1;
		ul {
			li {
				position: absolute;
				left: 0;
				display: none;
				&:first-child {
					display: block;
				}
			}
		}
		&.v1 {
			width: 306px;
			height: 233px;
			border-left: 1px solid $bc_type1;
		}
		&.v2 {
			width: 326px;
			height: 233px;
		}
	}
	.controller {
		position: absolute;
		right: 22px;
		top: 20px;
		.indicator {
			display: block;
			width: 8px;
			height: 8px;
			margin-bottom: 13px;
			content: "";
			background-color: #d6d7d9;
			border-radius: 100%;
			&.active {
				background-color: #ed5565;
			}
			text-indent: -999em;
			font-size: 0;
		}
	}
	[class*="ctrl-"] {
		display: none;
		width: 32px;
		height: 32px;
		border: none;
		position: absolute;
		right: 10px;
		bottom: 10px;
		background: url("#{$path-common}key_ctrl.png") no-repeat;
		text-indent : -999em;
		font-size: 0;
		&.active {
			display: block;
		}
	}
	.ctrl-play {
		background-position-y: -35px;
	}
}

.bottom-banner {
	position: relative;
	padding: 30px 0;
	&:before {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 1px;
		height: 100%;
		background: #fff;
		content: "";
		z-index: 10;
	}
	.banner-slide {
		position: relative;
		height: 60px;
		padding: {
			left: 20px;
			right: 20px;
		}
		.banner-box {
			position: relative;
			overflow: hidden;
			height: 100%;
		}
		.banner-item {
			@extend %clear-fix;
			position: absolute;
			left: 0;
			top: 0;
			white-space: nowrap;
			font-size: 0;
			li {
				display: inline-block;
				width: 155px;
				a {
					display: block;
					border: 1px solid $bc_type1;
					margin-right: 5px;
				}
			}
		}
		[class*="btn-"] {
			display: block;
			position: absolute;
			top: 19px;
			width:9px;
			height: 20px;
			background: url("#{$path-main}banner_left.png") no-repeat;
		}
		.btn-prev {
			left: 0;
		}
		.btn-next {
			right: 0;
			background: url("#{$path-main}banner_right.png") no-repeat;
		}
	}
}

.quick-section {
	position: absolute;
	left: 50%;
	width: 70px;
	margin-left: 570px;
	z-index: 100;
	#main & {
		top: 640px;
	}
	.quick-title {
		padding: 15px 0;
		text-align: center;
		background-color: #333;
		font-size: 13px;
		color: #fff;
	}
	.quick-menu {
		li {
			border-top: 1px solid #696969;
			background-color: #4e4e4e;
			&:first-child {
				border-top: 0;
			}
			a {
				display: block;
				position: relative;
				padding: 52px 0 12px;
				text-align: center;
				font-size: 11px;
				color: #fff;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background: url("#{$path-common}quickMenu_bg.png") no-repeat;
				}
			}
			@for $i from 1 through 4 {
				&:nth-child(#{$i+1}) a:before {
					background-position-y: $i * -80px;
				}
			}
		}
	}
	.quick-setup {
		display: block;
		padding: 15px 0;
		text-align: center;
		background-color: #333;
		font-size: 11px;
		color: #fff;
	}
	.btn-top {
		display: block;
		position: relative;
		margin-top: 10px;
		padding: 11px 0;
		text-align: center;
		background-color: #70b502;
		font-weight: bold;
		color: #fff;
		&:before {
			display: block;
			position: absolute;
			top: -11px;
			left: 50%;
			margin-left: -6px;
			content: "";
			border: 6px solid transparent;
			border-bottom-color: #70b502;
		}
	}
}
