// font-family type
$ff_type1 : AppleSDGothicNeo;
$ff_type2 : SFUIDisplay;

// font-color type
$point_color1: #666;
$point_color2: #0068c3;

// border-color type
$bc_type1: #e9e9e9;

// background path
$path-common: "/images/common/";
$path-main: "/images/main/";